@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    margin: 0%;
    font-family: 'Poppins', sans-serif;
}

/*for banner to line 83*/

.banner{
    height: auto;
    background-color:#F4B3B1 ;
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    padding-top: 50px;
}

.img_container{
    width: 400px;
    height: 400px;
}

.banner_img{
    width: 100%;
    height: 100%;
    animation: bannerImgAnimate 20000ms infinite;
}

@keyframes bannerImgAnimate{
    0%{
        transform:rotateZ(15deg) ;
    }
    50%{
        transform: rotateZ(0deg);
    }
    100%{
        transform:rotateZ(15deg)
    }
}

.info_container{
    width: 400px;
    height: 400px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.banner_info1{
    font-size: 30px;
    margin-bottom: 10px;
    font-family: 'Roboto','Poppins', sans-serif;
}

.banner_info2{
    font-size: 20px;
    margin-bottom: 10px;
    font-family: 'Roboto','Poppins', sans-serif;
}

#banner_btn{
    width: 150px;
    height: 50px;
    border-radius: 15px;
    background-color: #feb326;
    border:none;
    font-family: 'Roboto','Poppins', sans-serif;
}

#banner_btn:hover{
    transform: scale(1.1);
}

@media only screen and(max-width:840px) {
    .info_container{
        height: auto;
        width: 100%;
    }
}

/*for catagories picture to line 109*/

.catagories_container{
    margin: 70px 0px;
}

.catagories_parent{
    max-width: 1080px;
    margin: auto;
    padding: 0 25px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.catagories{
    width:30% ;
    margin-bottom: 30px;
}

.catagories_picture{
    width: 100%
}

/*for products*/

.featured_products{
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 20px;
}

/*for special offer*/

.specialoffer_container{
    height: auto;
    background-color:black ;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.special_offer_img{
    width: 100%;
}



