@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    margin: 0%;
    font-family: 'Poppins', sans-serif;
}


/*for banner*/

.banner{
    height: auto;
    background-color:#F4B3B1 ;
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    padding-top: 50px;
}

.img_container{
    width: 400px;
    height: 400px;
}

.banner_img{
    width: 100%;
    height: 100%;
    animation: bannerImgAnimate 15000ms infinite;
}

@keyframes bannerImgAnimate{
    0%{
        transform:rotateZ(18deg) ;
    }
    50%{
        transform: rotateZ(0deg);
    }
    100%{
        transform:rotateZ(18deg)
    }
}

.info_container{
    width: 400px;
    height: 400px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.banner_info1{
    font-size: 30px;
    margin-bottom: 10px;
    font-family: 'Roboto','Poppins', sans-serif;
}

.banner_info2{
    font-size: 20px;
    margin-bottom: 10px;
    font-family: 'Roboto','Poppins', sans-serif;
}

#banner_btn{
    width: 150px;
    height: 50px;
    border-radius: 15px;
    background-color: #feb326;
    border:none;
    font-family: 'Roboto','Poppins', sans-serif;
}

#banner_btn:hover{
    transform: scale(1.1);
}

@media only screen and(max-width:840px) {
    .info_container{
        height: auto;
        width: 100%;
    }
}

/*for catagories picture*/

.catagories_container{
    margin: 70px 0px;
}

.catagories_parent{
    max-width: 1080px;
    margin: auto;
    padding: 0 25px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.catagories{
    width:30% ;
    margin-bottom: 30px;
}

.catagories_picture{
    width: 100%
}

/*for products*/
.products_header{
    margin: 10px 0;
    display: block;
    text-align: center;
    font-family: 'Roboto','Poppins', sans-serif;
}

.featured_products{
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 20px;
}

/*for special offer*/

.specialoffer_container{
    height: auto;
    background-color:black ;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.special_offer_img{
    width: 100%;
}

/*for customer rating*/
.customer_rating{
    margin: 40px 0;
    display: block;
    text-align: center;
    font-family: 'Roboto','Poppins', sans-serif;
}

.customer_container{
    max-width: 1303px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-top: 20px;
    margin-bottom: 20px;
    justify-content: space-around;
}

.customer{
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: solid #000 2px;
    font-size: 20px;
    font-weight: bold;
}



.customer_img{
    width: 80%;
    border-radius: 50%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.fas{
  color: #feb326;
}/*for rating star*/

@media only screen and (max-width:900px){
    .customer{
        font-size: 15px;
    }
    .customer_img{
        width: 70%;
    }
}


@media only screen and (max-width:700px){
    .customer{
        font-size: 10px;
    }
    .customer_img{
        width: 60%;
    }
}

@media only screen and (max-width:300px){
    .customer{
        font-size: 5px;
    }
    .customer_img{
        width: 50%;
    }
}

/*for footer*/

.footer_container{
    background-color: #000;
}

.row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    color: #ffff;
}

.footer_colum1{
    width: 28%;
    font-size: 10px;
}

.footer_colum1 h3{
    margin-top: 20px;
    margin-bottom: 20px;
}

.download{
    width: 100px;
    margin-top: 20px;
}

.download img{
    width: 100%;
}

.footer_colum2{
    width: 30%;
    font-size: 10px;
}

.footer_colum2 img{
    width: 150px;
}

.footer_colum3{
    width: 28%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer_colum3 h3{
    display: block;
    margin: 10px auto;
}

.footer_colum3 a {
    text-decoration: none;
    color: #ffff;
}


@media only screen and (max-width:800px) {
    .row{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        color: #ffff;
    }
    .footer_colum1{
        width: 90%;
        font-size: 10px;
        padding: 20px;
        text-align: center;
    }
    .footer_colum2{
        width: 90%;
        font-size: 10px;
        padding: 20px;
        text-align: center;
    }
    .footer_colum3{
        width: 100%;
        margin-bottom: 20px;
    }
    .download{
        margin: 10px auto;
    }
}

.footer_line{
    height: 1px;
    background-color: #ffff;
    width: 90%;
    font-size: 1px;
    margin: 10px auto;
}

.copyright{
    color: #808080;
    text-align: center;
    font-size: 13px;
}